/* 确保 html 和 body 撑满屏幕 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 自定义主色调 */
.bg-primary-custom {
    background-color: #009485 !important;
}

.text-primary-custom {
    color: #009485 !important;
}

/* 侧边栏链接悬停效果 */
.nav-link:hover {
    color: #007b6d !important; /* 稍深的绿色 */
}

/* 面包屑导航悬停效果 */
.breadcrumb-item a:hover {
    color: #007b6d !important; /* 稍深的绿色 */
}