{% extends "layout.html" %}

{% block title %}首页{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mb-4">
            <section class="card">
                <div class="card-body">
                    <h2 class="card-title">关于 FastAPI-Jinja2</h2>
                    <p class="card-text">FastAPI-Jinja2 是一个整合了FastAPI、Jinja2、SQLModel、Celery、Loguru多个流行技术栈的开源项目。</p>
                </div>
            </section>
        </div>
        <div class="col-md-6 mb-4">
            <section class="card">
                <div class="card-body">
                    <h2 class="card-title">项目初衷</h2>
                    <p class="card-text">项目旨在帮助开发者迅速启动并运行基于以下技术的Web应用程序。。</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <section class="card">
                <div class="card-body">
                    <h2 class="card-title">接口文档</h2>
                    <p class="card-text">请访问 <a href="/docs">接口文档</a> 以获取更多信息。</p>
                </div>
            </section>
        </div>
        <div class="col-md-6 mb-4">
            <section class="card">
                <div class="card-body">
                    <h2 class="card-title">项目地址</h2>
                    <p class="card-text">请访问 <a href="https://github.com/1014TaoTao/fastapi_jinja2">GitHub@链接</a>以获取更多信息。</p>
                        <p class="card-text">请访问 <a href="https://gitee.com/tao__tao/fastapi_jinja2">Gitee@链接</a>以获取更多信息。</p>
                </div>
            </section>
        </div>
    </div>
{% endblock %}