{% extends "layout.html" %}

{% block title %}首页{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 mb-4">
            <section class="card">
                <div class="card-body">
                    <h2 class="card-title">关于 FastAPI-Jinja2</h2>
                    <p class="card-text">FastAPI-Jinja2 是一个整合了FastAPI、Jinja2、SQLModel、Celery、Loguru多个流行技术栈的开源项目。项目旨在帮助开发者迅速启动并运行基于以下技术的Web应用程序。</p>
                    
                </div>
            </section>
        </div>
    </div>
{% endblock %}