{% extends "base.html" %}

{% block title %}登录页面{% endblock %}

{% block body %}
    <div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
        <section class="card mb-4 login-card" style="max-width: 300px; width: 100%;">
            <div class="card-body">
                <div class="text-center mb-4">
                    <img src="{{ url_for('static', path='/fastapi-logo.svg') }}" alt="Logo" height="40" class="d-inline-block align-top me-2">
                </div>
                <form method="post" action="/login">
                    <div class="mb-3">
                        <label for="username" class="form-label">账号:admin</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="请输入账号" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">密码:123456</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="请输入密码" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 text-white" style="background-color: #26a699; border-color: #26a699;">登录</button>
                </form>
                <div class="mt-4">
                    {% if message %}
                    <div class="alert {% if success %}alert-success{% else %}alert-danger{% endif %}" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}